<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="../static/js/myApp.js" th:src="@{/static/js/myApp.js}"></script>
</head>

<body>
<p th:text="'Hello ' +(*{name == 'Foo'}? *{name} : '(no age specified)')"/>


<div ng-app="myApp" ng-controller="myCtrl" ng-init="lastName='DoeInit';firstName='DoeInit'">

	First Name: <input type="text" ng-model="firstName"/><br/>
	Last Name: <input type="text" ng-model="lastName"/><br/>
	<br/>
	Full Name: {{firstName + " " + lastName}}

	<table>
		<tr>
			<td>
				<b>th:each</b>
			</td>
		</tr>
		<tr th:each="str : ${list}">
			<td th:text="${str}"></td>
		</tr>
	</table>

	<table>
		<tr>
			<td>
				<b>ng-repeat</b>
			</td>
		</tr>
		<tr ng-repeat="x in names">
			<td>{{x}}</td>
		</tr>
	</table>

	<div w3-test-directive></div>

	<w3-test-directive></w3-test-directive>

	<div class="w3-test-directive"></div>

	<!--directive:w3-test-directive-->


	<form name="myForm1">
		Email:
		<input type="email" name="myAddress1" ng-model="text">
		<span ng-show="myForm1.myAddress1.$error.email">Not a valid e-mail address</span>
	</form>

	<form name="myForm2" ng-init="myText = 'post@myweb.com'">
		Email:
		<input type="email" name="myAddress2" ng-model="myText" required>
		<h1>Status</h1>
		{{myForm2.myAddress2.$valid}}
		{{myForm2.myAddress2.$dirty}}
		{{myForm2.myAddress2.$touched}}
	</form>


	<style>
		input.ng-invalid {
			background-color: lightblue;
		}
	</style>

	<form name="myForm3">
		Enter your name:
		<input name="myName" ng-model="myText" required>
	</form>


</div>


</body>
</html> 